:javascript
  function handler(location) {
    jQ.post("player", { lat: location.coords.latitude, lon: location.coords.longitude, accuracy: location.coords.accuracy } );
  }
  navigator.geolocation.getCurrentPosition(handler);
  
%h1
  Welcome to AudioTunes
%form{ :action => "loading", :method => "get", :id => "form" }
  %img#twitter{ :src => "images/twitter_txt.png" }
  %input{:type => "text", :name => "user" }
  %input{:type => "image", :src => "images/button_up.png" }

%div{:id => "message"}
