body#layout {
  background: #e1eef8 url(../images/bg.jpg) no-repeat;
  width: 320p×;
  height: 480px;
}
body#layout2 {
  background: #000 url(../images/main_bg.png) no-repeat;
  width: 768px;
  color: #fff;
}
#form img#twitter {
  display: block;
  position: relative;
  margin-top: 60px;
  margin-left: 45px;
}
#form input[type=text] {
  background: url(../images/text_field.png) no-repeat;
  display: block;
  border-width: 0px;
  width: 224px;
  height: 49px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 45px;
}
#form input[type=image] {
  display: block;
  border-width: 0px;
  width: 225px;
  height: 58px;
  margin-top: 70px;
  margin-left: 45px;
}
div#video {
  position: relative;
  top: 40px;
  left: 10px;
  height: 40px;
}
div#loadingbox {
  display: table-cell;
  vertical-align: bottom;
  width: 240px;
  height: 54px;
}
img#loading_txt {
  position: relative;
  top: 200px;
  left: 20px;
}

div#avatar {
  display: inline;
  position: relative;
  top: 190px;
  left: 115px;
  width: 54px;
  height: 54px;
  clear: right;
}
div#avatar img {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #333;
}
table#grid {
  position: relative;
  margin: 50px 0px 0px 115px;
}
table#grid tr td {
  background: transparent url(../images/thumb_bg.png) no-repeat;
  width: 64px;
  height: 64px;
  padding: 5px;
}
table#grid tr td.current {
  background: transparent url(../images/current_bg.png) no-repeat;
}
table#grid tr td img {
  margin: 7px;
  width: 50px;
  height: 50px;
}
